
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* HEADER  */
.container {
    background-color: rgb(67, 64, 83);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    border-bottom: solid 5px orange;
}

h1, h2, h3{
    margin: 0px; 
}

ul li{
    display: inline-block;  
    padding: 10px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li a{
    color: white;
    text-decoration: none;  
}

li a:hover{
    color: orange;
}

.orange {
    color: orange;
}

/* MAIN SECTION */
.background-img{
    background-image:url(/img/showcase.jpg);
    background-size: cover;
   background-position: center;
    color: white;
   padding: 100px 40px;
   
}

/* NEWSLETTER SECTION */
form input, button{
    padding: 5px;
}

button[type=submit] {
    background-color: orange;
    color: white;
}

/* CARDS SECTION */
.cards-box{
    display: flex;
    padding: 20px 50px;
    justify-content: space-evenly;
}

.box img{
    width: 30%;
    padding: 20px 0px;
}

/* FOOTER */
footer{
    background-color: orange;
    padding: 15px;
    color: white;
}



/* MEDIA QUERIES */
@media (max-width:767px){

    /* HEADER */
    .container{
      display: block;
    }

    /* MAIN SECTION */
.background-img{
  padding: 80px 10px;
}


/* NEWSLETTER */
form {
    display: block;
}

 input[type=email]{
    width: 90%;
    box-sizing: border-box;
}

button[type=submit]{
    width: 90%;
}

.container h3{
    margin: 10px;
}

/* CARDS */
.cards-box{
    display: block;
    padding: 0px;
}

.box{
    margin-bottom: 20px;
}

.box img{
    width: 15%;
    padding: 20px 0px;
}

}

/* ABOUT SECTION */

.about-container{
    padding: 10px 100px;
    text-align: left;
}

main aside{
    float: right;
    width: 30%;
    margin-top: 10px;
}

main article{
    float: left;
    width: 65%;
}

.clr{
    clear: both;
}

.dark{
    padding: 15px;
    color: white;
    background-color: slategrey;
    margin-top: 10px;
    margin-bottom: 10px;

}
/* MEDIA QUERIES */
@media (max-width:767px){
    main .about-container article, aside{
        float:none;
        text-align:center;
        width: 100%;
        display: block;
    }

    main .about-container aside .dark, .quote{
        display: block;
        width:100%;
        float: none;
        
    }

}


/* SERVICES */

.services ul li {
    list-style: none;
    padding: 20px;
    border: solid 1px darkgrey ;
    margin-bottom: 5px;
    background-color: rgb(220, 225, 230);
}

aside .dark {
    width: 80%;
}




























