@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
    font-family: 'Hind', sans-serif;

body {
    margin: 0px;
    
}

header {
    background-color: rgb(199, 84, 45);
  
}






